.area{
    padding: 1rem 2.5rem;
    min-height: calc(100vh - 15rem);
}

.text{
    font-size: 1.1rem;
    font-family: 'Assistant', sans-serif;
    animation: fadeInUp;
    animation-duration: 2s;
}

.button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    background-color: white;
    bottom: 0;
    left: 0;
    position: sticky;
}

.button button{
    font-size: 1.2rem;
    font-family: 'Assistant', sans-serif;
    cursor: pointer;
    font-weight: 500;
    padding: .8rem 1.5rem;
    background-color: #F47321;
    border: none;
    color: white;
    border-radius: 5rem;
    animation: fadeInUp;
    animation-duration: 2s;
}