<div class="audio-player-container">
    <div class="rewind-button-container">
        <button class="circle-button" (click)="rewind()">
            <img class="rewind-svg" src="/assets/test_audio/rewind.svg">
            <p>10"</p>
        </button>
    </div>
    <span style="width: 40px"></span>
    <div class="play-pause-container">
        <audio [src]="audioSrc" preload="metadata"></audio>
        <div class="circle">
            <div id="play-icon">
                <mat-progress-spinner [color]="bufferColor" strokeWidth="10" class="progress-indicator" [mode]="mode"
                    [value]="bufferValue"></mat-progress-spinner>
                <mat-progress-spinner [color]="progressColor" strokeWidth="10" class="progress-indicator" [mode]="mode"
                    [value]="progressValue"></mat-progress-spinner>
                <div class="inner-circle"></div>
            </div>
        </div>
    </div>
</div>